In [149]:
import math
import pandas as pd
import numpy as np

In [150]:
pi = math.pi
g = 9.81 #m/s^2
rho = 1030 #kg/m^2

-----------------

Question 2

Given: \
wave height = 3.50 m \
period = 10.0-s \
depth = 30.0 m

Find:  \
(a) wavelength approximated with Fenton and McKee \
(b) wavelength assuming deepwater \
(c) wavelength exactly with linear dispersion

Solution:

(a)

In [3]:
H = 3.50 #m
h = 30.0 #m
T = 10.0 #-s

In [4]:
L1 = ((g*T**2)/(2*pi))*(math.tanh((((2*pi)/T)*((h/g)**0.5))**(3/2)))**(2/3) #fenton mckee
L1

136.59749917235396

In [5]:
print('The wavelength, approximated by Fenton and Mckee, is {0: .0f} m'.format(L1))

The wavelength, approximated by Fenton and Mckee, is  137 m

----------------
(b)

In [6]:
L2 = (g * (T**2)) / (2 * pi)
L2

156.13099917314932

In [7]:
print('The wavelength, assuming deepwater limit, is {0: .0f} m'.format(L2))

The wavelength, assuming deepwater limit, is  156 m

------------------
(c)

In [8]:
# Dispersion iteration
# code source: adapted with help from Steven Hoagland

sol = [0]
solindex = 0

iteration = 0
initial_guess = 57.9 # input initial wavelength guess
L = initial_guess

_break = True

while _break == True: 
    previous_guess = L
    k = (2*pi)/L
    L = ((g * (T**2)) / (2*pi)) * math.tanh(k * h)
    error = abs(L-previous_guess) # calculate error
    if (error <= 0.000000001) or (error == 0): # break when the error threshold is met
        _break = False
    iteration += 1

sol[solindex] = L #converged solution added
solindex += 1

In [9]:
L3 = sol[0]
L3

137.29489294688142

In [10]:
print('The wavelength, solved by dispersion, is {0: .0f} m'.format(L3))

The wavelength, solved by dispersion, is  137 m

---------
Discussion: \
The Fenton and McKee approximation si accurate to the fully solved dispersion equation by 0.5%. This is a good approximation and is in line with the theory that the approximation is valid within an error of 2%. 
The approximation assuming deepwater limit, however, has an error of 13.7%. This is probbably because, in order to assume deepwater, the depth/wavelength must be greater than 1/2. However, when we divide depth (30.0 m) by wavelength (137 m), the result is ~ 1/5. Thus, the wave is actually intermediate and cannot be treated with calculations assuming deepwater.

-----------
-----------
-----------
-----------

Question 3

In [151]:
# assume deepwater L = ((g*T**2)/(2*pi))

In [156]:
H_0 = 4.00 #m
T = 17.0 #s
h_0 = 200 #m
alpha_0 = 40.0

z = -8.00 # m

In [157]:
# solve

In [158]:
L_0 = ((g*T**2)/(2*pi))

In [159]:
L_0

451.2185876104016

In [160]:
df = pd.DataFrame(columns=['x'], data = [0,L_0/4, L_0/2, (3*L_0)/4, L_0])

In [161]:
#df['eta'] = (H/2)*(np.cos((k*df['x']) - 0)) 

# at time = 0
df['eta'] = [2.00, 0, -2.00, 0, 2.00] # m

In [162]:
df

            x  eta
0    0.000000  2.0
1  112.804647  0.0
2  225.609294 -2.0
3  338.413941  0.0
4  451.218588  2.0

In [163]:
# solve for horizontal velocity at z = -8.0 m

In [164]:
a_freq = (2 * math.pi)/T #s^-1
k = (2*math.pi)/L_0 # m^-1

In [121]:
df['u'] = a_freq*((math.cosh(k*(h_0+z)))/(math.sinh(k*h_0)))* df['eta'] # m/s

In [122]:
df

            x  eta         u
0    0.000000  2.0  0.666963
1  112.804647  0.0  0.000000
2  225.609294 -2.0 -0.666963
3  338.413941  0.0  0.000000
4  451.218588  2.0  0.666963

In [123]:
df['p'] = (rho*g*df['eta'])*((np.cosh(k*(h_0+z)))/np.cosh(k*h_0)) - (rho*g*z) # Pa

In [124]:
df

            x  eta         u             p
0    0.000000  2.0  0.666963  98929.764468
1  112.804647  0.0  0.000000  80834.400000
2  225.609294 -2.0 -0.666963  62739.035532
3  338.413941  0.0  0.000000  80834.400000
4  451.218588  2.0  0.666963  98929.764468

In [125]:
# do for all z's now

In [148]:
# Discuss

-----------
-----------
-----------
-----------

Question 4

In [126]:
H_0 = 4.00 # m
h_0 = 200 # m
L_0 = 451.2185876104016 # m (solution from above)

h_1 = 8.00 # m

alpha_0_deg = 40.0 # degrees
alpha_0_rad = (alpha_0_deg * math.pi) / 180

T = 17.0 #s
a_freq = (2 * math.pi)/T #s^-1

In [127]:
# calc L_1 with iteration
L_1_guess = ((g*T**2)/(2*pi))*(math.tanh((((2*pi)/T)*((h_1/g)**0.5))**(3/2)))**(2/3) # (m) first guess with fenton and mckee

In [128]:
L_1_guess

149.3725748179091

In [129]:
sol = [0]
solindex = 0

iteration = 0
initial_guess = L_1_guess # input initial wavelength guess
L = initial_guess

_break = True

while _break == True: 
    previous_guess = L
    k = (2*pi)/L
    L = ((g * (T**2)) / (2*pi)) * math.tanh(k * h_1)  # INPUT CORRECT h
    error = abs(L-previous_guess) # calculate error
    if (error <= 0.000000001) or (error == 0): # break when the error threshold is met
        _break = False
    iteration += 1

sol[solindex] = L #converged solution added
solindex += 1

In [130]:
L_1 = sol[0]
L_1

147.80032847773637

In [131]:
# solve
k_1 = (2*math.pi)/L_1 # m^-1

In [132]:
alpha_1_rad = (L1/L_0)*math.sin(alpha_0_rad)

In [133]:
Kr = ((math.cos(alpha_0_rad))/math.cos(alpha_1_rad))**(0.5)

In [136]:
n_1 = 0.5*(1 + (2*k_1*h_1)/(math.sinh(2*k_1*h_1)))
n_0 = 0.5

In [138]:
Ks = math.sqrt((n_0 * L_0)/(n_1 * L_1))

In [139]:
H_1 = H_0*Ks*Kr

In [141]:
H_1 # m

4.448924881692996

In [146]:
print('The wave height when the wave reaches a depth of 8.00 m is {0: .2f} m '.format(H_1))

The wave height when the wave reaches a depth of 8.00 m is  4.45 m

In [147]:
# DISCUSS

-----------
-----------
-----------
-----------

Question 5